@import '../breakpoints';
@import '../colors';
.features {
    text-align: center;
    @keyframes tabsAnimation {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .tabs {
        &__tab {
            font-size: 1rem;
            line-height: 17px;
            color: $Very-Dark-Blue;
            letter-spacing: .53px;
            position: relative;
        }
        &__tab--active {
            &::after {
                animation: tabsAnimation .5s;
                content: '';
                height: 4px;
                background: $Soft-Red;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
    &__tabs-content {
        .content {
            display: none !important;
            &__img {
                max-width: 397px;
                max-height: 346px;
            }
            &__img-wrapper {
                &::before {
                    content: '';
                    width: 81.9vw;
                    background-color: #5368df;
                    border-top-right-radius: 225px;
                    border-bottom-right-radius: 106px;
                    display: block;
                    height: 98%;
                    position: absolute;
                    top: 17%;
                    z-index: -1;
                }
            }
        }
        .content.selected-tab {
            animation: tabsAnimation .5s;
        }
    }
    @media #{$small} {
        .tabs {
            max-width: 311px;
            margin: auto;
            &__tab {
                padding: 20px 0;
                border-top: 1px solid rgba(73, 93, 207, 0.2);
                &:last-child {
                    border-bottom: 1px solid rgba(73, 93, 207, 0.2);
                }
            }
            &__tab--active {
                &::after {
                    content: '';
                    width: 143px;
                }
            }
        }
    }
    @media #{$small},
    #{$medium} {
        margin-top: 140px;
        &__items {
            margin-top: 40px;
        }
        &__tabs-content {
            margin-top: 72px;
            .content.selected-tab {
                display: block !important;
            }
            .content {
                &__img-wrapper {
                    position: relative;
                    display: inline-block;
                    &::before {
                        right: calc(14%);
                    }
                }
                &__img {
                    width: 100%;
                }
                &__info {
                    margin-top: 67px;
                }
                &__link {
                    margin-top: 20px;
                }
            }
        }
    }
    @media #{$medium},
    #{$large} {
        &__tabs {
            display: flex;
            justify-content: center;
            margin-top: 72px;
        }
        .tabs {
            &__tab {
                padding: 0 41px 27px 41px;
                border-bottom: 1px solid rgba(73, 93, 207, 0.2);
                &:hover {
                    color: $Soft-Red;
                    cursor: pointer;
                }
            }
            &__tab--active {
                &::after {
                    width: 100%;
                }
            }
        }
    }
    @media #{$large} {
        margin-top: 120px;
        &__desc {
            margin-top: 8px;
        }
        &__tabs-content {
            margin-top: 72px;
            .content.selected-tab {
                display: flex !important;
            }
            .content {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                &__img {
                    margin-right: 117px;
                }
                &__img-wrapper {
                    position: relative;
                    display: inline-block;
                    &::before {
                        right: calc(37%);
                    }
                }
                &__info {
                    text-align: left;
                    width: 40.3%;
                }
                &__link {
                    margin-top: 32px;
                }
                &__desc {
                    margin-top: 8px;
                }
            }
        }
    }
}