@import '../breakpoints';
.promo {
    .container {
        .content {
            display: flex;
            position: relative;
        }
    }
    &__img-wrapper {
        &::before {
            content: '';
            background-color: #5368df;
            border-top-left-radius: 106px;
            border-bottom-left-radius: 106px;
            display: block;
            position: absolute;
            z-index: -1;
        }
    }
    @media #{$small},
    #{$medium} {
        .container {
            .content {
                display: flex;
                flex-direction: column;
                position: relative;
            }
        }
        &__img-wrapper {
            position: relative;
            order: -1;
            margin: 0 auto;
            &::before {
                width: 74.8vw;
                left: calc(20%);
                height: 80%;
                top: 22%;
            }
        }
        &__img {
            width: 100%;
            max-width: 579px;
            max-height: 386px;
            margin: 0 auto;
        }
        &__info {
            margin-top: 61px;
            text-align: center;
        }
        &__title {
            color: $Very-Dark-Blue;
        }
        &__desc {
            margin-top: 16px;
        }
        &__actions {
            display: flex;
            justify-content: space-between;
            margin: 32px auto;
            max-width: 311px;
        }
        &__browser-link {
            &:first-child {
                margin-right: 13px;
            }
            &:last-child {
                margin-left: auto;
            }
        }
    }
    @media #{$large} {
        .container {
            .content {
                align-items: center;
            }
        }
        &__desc {
            margin-top: 24px;
            margin-right: 65px;
        }
        &__actions {
            display: flex;
            margin-top: 32px;
        }
        &__img {
            max-width: 579px;
            max-height: 386px;
        }
        &__img-wrapper {
            &::before {
                width: 40.9vw;
                left: calc(65.5%);
                top: 30%;
                height: 70%;
            }
        }
        &__browser-link {
            &:first-child {
                margin-right: 16px;
            }
        }
    }
}